.hidden {
    display: none;
}

#backdrop-container {
    position: fixed;


    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 9;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #26272be7;
    color: white;
    padding: 20px;
    border-radius: 25px;
    max-width: 600px;
    height: max-content;

    overflow-y: scroll;

    /*border: 4px solid #810c15;*/
    box-shadow: 4px 4px 5px 2px #810c16e1;
}

.padding-info {
    padding: 10px 20px;
    margin: 0;
}

.align-center {
    text-align: center;
}

.cell-info-actor {
    padding: 20px 26px;
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    position: absolute;
    right: 20px;
}

.overflowing-table-container {
    max-height: 200px;
    overflow-y: scroll;
    text-align: center;
}

.sticky-heading {
    position: sticky;
    top: 0;
    width: 100%;
}

.hoverable-row:hover {
    background-color: #3b3b3b;
}

.remove-customer-container {
    width: 100%;
    text-align: center;
}

.rm-cust-btn {
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.rent-film-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-cust-rent-btn {
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;

    &:hover {
        cursor: text;
    }
}

.submit-cust-rent-btn {
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.rent-response-container {
    width: 100%;
    text-align: center;
}

.details-title {
    font-size: 16pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}