.hidden {
    display: none;
}

#backdrop-container {
    position: absolute;


    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 9;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #26272be7;
    color: white;
    padding: 20px;
    border-radius: 25px;
    max-width: 600px;
    max-height: 600px;

    overflow-y: scroll;

    /*border: 4px solid #810c15;*/
    box-shadow: 4px 4px 5px 2px #810c16e1;
}

.padding-info {
    padding: 10px 20px;
    margin: 0;
}

.align-center {
    text-align: center;
}

.rent-film-container {
    display: flex;
}

.cell-info-actor {
    padding: 20px 26px;
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    position: absolute;
    right: 20px;
}

.overflowing-table-container {
    max-height: 200px;
    overflow-y: scroll;
    text-align: center;
}

.sticky-heading {
    position: sticky;
    top: 0;
    width: 100%;
}

.hoverable-row:hover {
    background-color: #3b3b3b;
}